.img1 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  background-color: #152022;
}
.img2 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 70vh;

  background-color: #152022;
}
.img3 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1\ \(2\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;

  background-color: #152022;
  height: 70vh;
}
.img4 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1\ \(3\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 40vh;
  background-color: #152022;
}
.img5 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1\ \(4\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 40vh;
  background-color: #152022;
}
.img6 {
  background-image: url("../../assets/images/7a08e333-024d-459d-8c3e-c39a6fc6ac86_upscaled_variated\ 1\ \(5\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
  height: 40vh;
  background-color: #152022;
}
